@media (min-width: 768px) {
    .row .card {
        height: 480px;
    }
}

@media (max-width: 1100px) {
    .hidden-1 {
        display: none;
    }
}

@media (max-width: 1000px) {
    .hidden-2 {
        display: none;
    }
}

@media (max-width: 769px) {
    .hidden-3 {
        display: none;
    }
}

@media (max-width: 600px) {
    .hidden-4 {
        display: none;
    }
}